@page "/oracle-replicator"
@rendermode InteractiveServer

<PageTitle>💬 Репликатор Oracle 11.2g 🖍</PageTitle>

<div>статья 2024 про 11.2</div>
<p>https://codeease.net/programming/c%23/Database-first-with-Entity-Framework-Core-oracle-11g-v11-2-and-Scaffold-DbContext</p>