@page "/transcribe-files"

<PageTitle>💬 wav, mp3, text 🖍</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h5">Обработка отделького аудиофайла => 💬 + 🖍</MudText>
    <MudDivider />
    <br />
    <MudPaper >
        <MudElement Style="">



        </MudElement>
        <MudDivider />
        <div style="width:240px;">
            
            @*<MudIconButton style="width: 48px; height: 48px" Icon="@Icons.Material.Filled.StopCircle" Color="Color.Error" OnClick="StopProcessingHard" />*@
        </div>
    </MudPaper>
</MudContainer>